{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light header-navigation mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#works">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}#form">Form</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block contents %}{% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="footer-navigation d-flex justify-content-center mb-2">
            <a href="#">X</a>
            <a href="#">Github</a>
        </div>
        <div class="copyright">&copy; Navbar</div>
    </footer>

    <!-- bootstrap js -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>