{% extends 'base.html' %}

{% block contents %}
<div class="container detail mb-5">
    <h1 class="mb-3">{{ work.name }}</h1>
    <div class="row gx-5">
        <!-- 画像カルーセル -->
        <div class="col-sm-8 mb-4 image">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner radius original-shadow">
                    {% for item in image %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ item.image_path }}" class="d-block w-100 work-img" alt="画像サンプル">
                    </div>
                    {% endfor %}
                </div>
                {% if image|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <!-- 作品概要 -->
        <div class="col-sm-4 overview">
            <p>{{ work.description }}</p>
            <p>{% for lang in usedlang %}{{ lang.language_id.name }} / {% endfor %}</p>
            <div class="row">
                <p class="col-lg-6">制作人数:<span>{{ work.production_people }}人</span></p>
                <p class="col-lg-6">制作期間:<span>{{ work.production_period }}</span></p>
            </div>
            {% if work.github_url %}
            <p><a href="{{ work.github_url }}">Github</a></p>
            {% endif %}
            {% if work.project_url %}
            <p><a href="{{ work.project_url }}">{{ work.name }}</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}