{% extends 'base.html' %}

{% block contents %}
<div class="container text-center">
    <!-- Main visual -->

    <!-- About -->
    <div class="row mb-5 text-start">
        <div class="col-8">
            <img src="static\img\test.png" width="100%" height="400" alt="写真だよ">
        </div>
        <div class="col-4">
            <h1 style="font-size:48px">About</h1>
            <p style="font-size:19.2px">about</p>
        </div>
    </div>
    <!-- works -->
    <div class="mb-5">
        <h1 class="mb-3">作品</h1>
        <div class="row text-start">
            <div class="row col-6 mb-3">
                <img class="opus col-6" src="static\img\test.png" alt="写真だよ">
                <div class="col-6">
                    <p class="folio_name">作品名</p>
                    <p class="language">使用言語</p>
                </div>
            </div>
            <div class="row col-6 mb-3 text-start">
                <img class="opus col-6" src="static\img\test.png" alt="写真だよ">
                <div class="col-6">
                    <p class="folio_name">作品名</p>
                    <p class="language">使用言語</p>
                </div>
            </div>
            <div class="row col-6 mb-3 text-start">
                <img class="opus col-6" src="static\img\test.png" alt="写真だよ">
                <div class="col-6">
                    <p class="folio_name">作品名</p>
                    <p class="language">使用言語</p>
                </div>
            </div>
            <div class="row col-6 mb-3 text-start">
                <img class="opus col-6" src="static\img\test.png" alt="写真だよ">
                <div class="col-6">
                    <p class="folio_name">作品名</p>
                    <p class="language">使用言語</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .opus {
        object-fit: cover;
    }

    .folio_name {
        font-size: 19.2px;
    }

    .language {
        font-size: 14px;
    }

    .mb-6 {
        margin-bottom: 24px;
    }
</style>
{% endblock %}