/* 
 * カラーパレット
 * Primary Color: #2C3E50 (Sun Flower)
 * Secondary Color: #18BC9C (Wisteria)
 * Accent Color: #E74C3C (Belize Hole)
 * Background Color: #ECF0F1 (Light Gray)
 * Text Color: #2C3E50 (Midnight Blue)
 *
 * Primary Color: #2C3E50 (Midnight Blue)
 * Secondary Color: #18BC9C (Light Sea Green)
 * Accent Color: #E74C3C (Cinnabar)
 * Background Color: #ECF0F1 (Light Gray)
 * Text Color: #2C3E50 (Midnight Blue)
 */

body {
    font-family: 'GenJyuuGothic';
    background-color: #ECF0F1;
    color: #2C3E50;
}
.radius {
    border-radius: 35px;
}
.original-shadow {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
}
.detail h1 {
    font-size: 50px;
    font-weight: bold;
}
.overview p {
    color: #2C3E50;
}
/* ヘッダーのスタイル */
@media screen and (min-width: 575px) {
    .header-navigation {
        padding: 24px 0;
    }
    .header-navigation .container-fluid {
        padding: 0 76px;
    }
    .header-navigation .nav-link {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}
/* ハンバーガーメニューのスタイル */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
/* フッターのスタイル */
.footer {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
    background-color: #2C3E50;
    color: #ECF0F1;
}
.footer svg {
    color: #ECF0F1;
}
/* 画像カルーセルのスタイル */
.work-img {
    background-color: #0000000f;
    object-fit: contain;
    aspect-ratio: 16/9;
}
/* ボタンのスタイル */
.secondary {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color: #ECF0F1;
}
.danger:hover,
.secondary:hover {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
    color: #ECF0F1;
}
.flash-message {
    width: 256px;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 128px);
    background-color: #18BC9C;
    color: #ECF0F1;
    border-radius: 50rem !important;
    padding: 12px 0;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}
.danger {
    background-color: #E74C3C;
    border-color: #E74C3C;
    color: #ECF0F1;
}
.button-width {
    width: 200px;
}